<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jAnki</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>My jAnki Card Deck</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.cardFront %></br><%= el.cardBack %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> cards to review!</h2>

    <h3>Create a card to add to the jAnki deck!</h3>

    <form action="/todos/createTodo" method='POST'>
        <label for="cardFront">Front:</label>
        <input type="text" placeholder="Enter front of card" name='cardFront' id="front">
        <label for="cardBack" id="hideBack">Back:</label>
        <input type="text" placeholder="Enter back of card" name='cardBack' id="back" class="hidden">
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>